{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Travel Planner
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'trips/style.css' %}">
</head>

<body>

<header class="header">
    <div class="container header-inner">
        <a
            href="{% url 'trip_list' %}"
            class="logo">
            Travel Planner
        </a>

        <nav class="navigation">
            <a
                href="{% url 'trip_list' %}"
                class="navigation-link">
                Мои поездки
            </a>

            <a
                href="{% url 'trip_create' %}"
                class="button button-small">
                Новая поездка
            </a>

        </nav>
    </div>

</header>

<main class="main">
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="message">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>

        {% endif %}

        {% block content %}
        {% endblock %}

    </div>

</main>


<footer class="footer">
    <div class="container">
        <p>
            Travel Planner
        </p>
    </div>
</footer>

</body>

</html>